
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 400px;
    margin-right: 20px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 0 5px 5px rgb(215, 215, 215);
    box-sizing: border-box;
    
}

.card_image img{
    width: 220px;
    height: 160px;
}
.card_name{
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
}
.card_description{
    width: 200px;
    height: 170px;
    font-size: 13px;
    margin: auto;
}
.card_price{
    font-size: 20px;
    font-weight: 500;
    padding-right: 130px;
    padding-bottom: 10px;
}